[[set . "title" (msg . "Admin App")]] [[template "headerNav.html" .]]

<div class="container AngularView" id="AngularView">
    <div class="panel panel-default" ng-controller="ctrl-new" ng-init="showPanel=true">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span href class="BtnSpan" ng-click="showPanel=!showPanel">[[msg . "rCode.New"]]</span>
            </h3>
        </div>
        <div class="panel-body">
            <div ng-show="showPanel">
                <div class="alert alert-success" role="alert" ng-show="code!=''">
                    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                    {{code}}
                </div>

                <div class="alert alert-danger" role="alert" ng-hide="error==''">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                    {{error}}
                </div>


                <p>
                    <button class="btn btn-default" ng-disabled="disabled" ng-click="onCreate()">[[msg . "rCode.Create"]]</button>
                </p>
            </div>
            <div ng-hide="showPanel">
                [[msg . "Panel Hide"]]
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-controller="ctrl-search" ng-init="showPanel=true">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span href class="BtnSpan" ng-click="showPanel=!showPanel">[[msg . "rCode.Search"]]</span>
            </h3>
        </div>
        <div class="panel-body">
            <div ng-show="showPanel">
                <p>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" ng-disabled="disabled" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">{{title}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href ng-click="onBtnCode()">[[msg . "rCode.Filter Code"]]</a>
                                </li>
                                <li>
                                    <a href ng-click="onBtnRows()">[[msg . "rCode.Filter Rows"]]</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href ng-click="onBtnReset()">[[msg . "rCode.Filter Reset"]]</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /btn-group -->
                        <input type="text" class="form-control" aria-label="..." placeholder='[[msg . "rCode.Input Filter Code"]]' ng-disabled="disabled"
                            ng-model="code" ng-show="action==0">
                        <input type="text" class="form-control" aria-label="..." placeholder='[[msg . "rCode.Input Filter Rows"]]' ng-disabled="disabled"
                            ng-model="rows" ng-show="action==1">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="onBtnSearch()" ng-disabled="disabled">[[msg . "rCode.Go"]]</button>
                        </span>
                    </div>
                </p>
                <!-- /input-group -->

                <div class="alert alert-danger" role="alert" ng-hide="error==''">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                    {{error}}
                </div>

                <div ng-show="show">
                    <nav aria-label="Page navigation" ng-show="pages.length!=0">
                        <ul class="pagination">
                            <li ng-repeat="node in pages" ng-class="node.Class">
                                <span class="Pointer" ng-click="onBtnPage(node.Page)">{{node.Name}}</span>
                            </li>
                        </ul>
                    </nav>

                    <table class="table" ng-show="datas.length!=0">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Created</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="node in datas">
                                <td>{{node.Code}}</td>
                                <td>{{node.Created}}</td>
                                <td>
                                    <button class="btn btn-default" ng-disabled="disabled" ng-click="onBtnDelete(node.ID)">[[msg . "Delete"]]</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation" ng-show="pages.length!=0">
                        <ul class="pagination">
                            <li ng-repeat="node in pages" ng-class="node.Class">
                                <span class="Pointer" ng-disabled="disabled" ng-click="onBtnPage(node.Page)">{{node.Name}}</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div ng-hide="showPanel">
                [[msg . "Panel Hide"]]
            </div>
        </div>
        <!-- /panel-body -->
    </div>
</div>

[[template "js.gt" .]]
[[template "Root/Code.gt" .]] [[template "footer.html" .]]