[[template "header.html" .]]

<div style="height:60px;">
</div>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">[[msg . "MainPage"]]</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder='[[msg . "PlaceholderApp"]]'>
        </div>
        <button type="submit" class="btn btn-default">[[msg . "Search"]]</button>
      </form>

      <ul class="nav navbar-nav">
        [[if HasFlags .session.UserGroup "1"]]
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[[msg . "System Management"]]
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/Root/User">[[msg . "Admin App"]]</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="/Root/Group">[[msg . "Admin Group"]]</a>
            </li>
            <li>
              <a href="/Root/App">[[msg . "Admin User"]]</a>
            </li>
            <li>
              <a href="/Root/User">[[msg . "Admin Code"]]</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="/Root/System">[[msg . "Admin System"]]</a>
            </li>

          </ul>
        </li>
        [[end]]
        <li>
          <a href="/App/About">[[msg . "About"]]</a>
        </li>
        <li>
          <a href="/App/License">[[msg . "License"]]</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        [[if .session.UserID ]]
        <!-- 是否激活 -->
        [[if eq .session.UserActive "0"]]
        <li>
          <a href="/Active/Index">[[msg . "Active"]]</a>
        </li>
        [[end]]
        <li>
          <a id="IdALogout" href="#">[[msg . "Logout"]]</a>
        </li>
        <li>
          <a>[[.session.UserEmail]]</a>
        </li>

        [[else]]
        <li>
          <a href="/App/Login">[[msg . "Login"]]</a>
        </li>
        <li>
          <a href="/App/Register">[[msg . "Register"]]</a>
        </li>
        [[end]]
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<script>
  require(["jquery"], function ($) {
    $("#IdALogout").click(function () {
      $.ajax({
        url: '/App/AjaxLogout',
        type: 'GET',
        dataType: 'json',
      }).done(function () {
        location.reload();
      }).fail(function (e) {
        console.log(e.responseJSON.description);
      });
      return false;
    });
  })
</script>