<!DOCTYPE html>

<html>
  <head>
    <title>[[.title]]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
  </head>
  <body>
<style>
.AngularView{
  display: none;
}
.Pointer{
    cursor: pointer;
}
.BtnSpan{
    cursor: pointer;
    user-select: none;
}
</style>